<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html>
    <head>
        <title><%= title %></title><meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Orphans Care " />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="js/jquery-1.11.0.min.js"></script>
        <link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />


        <script type="text/javascript" src="javascripts/move-top.js"></script>
        <script type="text/javascript" src="javascripts/easing.js"></script>
        <script>
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>




    </head>
<body>

<div class="header" id="home">
    <div class="container">


     <center>   <div class="navigation">
            <ul class="navig">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Projects">Projects</a></li>
                <li><a href="/Services">Services</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>

        </div></center>

    </div>
</div>

</body>
</html>