<% include shared/header.ejs %>
<!DOCTYPE html>
<div class="child">
    <div class="container">
        <div class="child-main">
        <center>   <h1>About Me</h1>

        </center>    </div>
    </div>
</div>
<body>
<div class="mission">
    <div class="container">
        <div class="mission-main">
            <div class="col-md-6 mission-left">
                <img src="images/lg.jpg" height="500px" width="1200px">


                </div>
             <center>   <div class="col-md-10 mission-two">
                    <p style="font-size: x-large">Aviral masson from India.Came from miles away to settle in canada. Currently doing Web Designing from Georgian College, Barrie.Taking my web designing course further i have learned subjects such as Advanced client-side scripting, Server-side scripting, Advanced Server-side scripting, Web interface design, Social analytics, Adobe Photoshop, Project management and Law in everyday life (as general education subject), Interaction Design, Motion graphic for interaction, Web project studio, Web usability using following languages like ASP.NET, Javascript, HTML, CSS, C#.I Have Knowledge about various languages including HTML, CSS, JAVASCRIPT, jQuery, SQL DATABASE, ASP.NET, DOM and API’s. Apart from the studies I love to play Video games, Football and cricket. </p> </div>
                <br>

             </center>
        </div>

        </div>

    </div>
</div>
</body>
<% include shared/footer.ejs %>
</html>
