<% include shared/header.ejs %>
<!DOCTYPE html>
<div class="contact">
    <div class="container">
        <div class="contact-main">
            <center>  <h3>How To Find Me</h3> </center>
            <div class="contact-top">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.2134416098816!2d-79.6643113490164!3d44.408265679000024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa36f8e1b9743%3A0xc199cd32ea320438!2s93+Hickling+Trail%2C+Barrie%2C+ON+L4M+5T4!5e0!3m2!1sen!2sca!4v1519697320035" width="1200" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
<% include shared/footer.ejs %>
</html>
