<% include shared/header.ejs %>
<!DOCTYPE html>



  <div class="child">
      <div class="container">
          <div class="child-main">
            <center>  <h1>My Portfolio</h1></center>
              <br>
              <img src="images/web.jpeg" height="600px" width="1200px">
               </div>
      </div>
  </div>

  <div class="servive">
      <div class="container">
          <div class="servive-main">
              <div class="col-md-4 servive-left">

                  <h3>Web Design</h3>
                  <img src="images/webd.jpg" height="300px" width="300px">
              </div>
              <div class="col-md-8 servive-right">
                  <h4>What is web designing?</h4>
                  <p style="font-size: larger">Web development/design is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications (or just 'web apps') electronic businesses, and social network services. A more comprehensive list of tasks to which web development commonly refers, may include web engineering, web design, web content development, client liaison, client-side/server-side scripting, web server and network security configuration, and e-commerce development.  </div>

              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
  <div class="mission">
      <div class="container">
          <div class="mission-main">
              <div class="col-md-6 mission-left">
                  <h3>My Portfolio</h3>
                  <div class="col-md-6 mission-one">
                      <img src="images/dp.jpg" height="300px" width="250px">

                  </div>
                  <div class="col-md-6 mission-two">
                      <p style="font-size: larger">Aviral masson from India.Came from miles away to settle in canada. Currently doing web designing from Georgian College, Barrie.</p> </div>
                <br>
                  <br>
                  <div class="s-btn">
                      <a href="/About">More</a>
                  </div>
              </div>
              <div class="col-md-6 mission-left">
                  <h3>Taking it further</h3>
                  <div class="col-md-6 mission-one">
                      <img src="images/tf.jpg" height="300px" width="250px" >

                  </div>
                  <div class="col-md-6 mission-two">
                      <p style="font-size: larger">Taking my web designing course further i have learned coding languages like ASP.NET,SQL Database, Javascript,c#, HTML and CSS. </p> </div>
                  <br>
                  <br>
                  <div class="s-btn">
                      <a href="/About">More</a>
                  </div>
              </div>

          </div>

      </div>
  </div>
<% include shared/footer.ejs %>
  </body>

</html>
