<% include shared/header.ejs %>
<!DOCTYPE html>

<div class="child">
    <div class="container">
        <div class="child-main">
            <center>    <h1>My Projects</h1> </center>
            <img src="images/mp.jpg" height="400px" width="1200px">
        </div>
    </div>
</div>
<body>
<div class="mission">
    <div class="container">
        <div class="mission-main">
            <div class="col-md-6 mission-left">
                <h3><a href="https://automoblox-final.azurewebsites.net/a9.html">AUTOMOBLOX</a></h3>
                <div class="col-md-6 mission-one">
                    <img src="images/s1.png" height="300px" width="250px">

                </div>
                <div class="col-md-6 mission-two">
                    <p>This website was based on HTML and CSS about wooden Toy Cars for kids.You can check the link on name.</p>  </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 mission-left">
                <h3><a href="https://theshoestore.azurewebsites.net/">Shoe Store</a></h3>
                <div class="col-md-6 mission-one">
                    <img src="images/ss2.png" height="300px" width="250px" >

                </div>
                <div class="col-md-6 mission-two">
                    <p>This website was based on ASP.NET,HTML and CSS.It is an online shoe store.You can check the link on name. </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>
</body>

<% include shared/footer.ejs %>

</html>
