<% include shared/header.ejs %>
<div class="child">
    <div class="container">
        <div class="child-main">
            <center> <h1>Services</h1></center>
            <img src="images/serv.jpg" height="400px" width="1200px">
        </div>
    </div>
</div>
<div class="col-md  -12 mission-two">
    <p style="font-size: xx-large">Looking for services i can offer through my skills. If required any,My contact is available on website.</p>  </div>



</body>

<% include shared/footer.ejs %>
</html>
